* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
}

header {
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(167, 167, 167);
    color: rgb(62, 58, 175);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 10 px;
    float: right;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    max-height: 50%;
}
.portfolio-section {
    display: flex;
    padding-left: 50px;
    align-items: center;
    background-color: rgb(61, 61, 61);
    border-bottom: 5px rgb(79, 84, 224) solid;
}
.portfolio-section h2 {
    width: 16%;
    /* border-right: 1px black solid; */
    height: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    color:aliceblue;
    size: 50px;
}
.portfolio-section img {
    width: 20%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.portfolio-section p{
    width: 50%;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-left: 10px rgb(79, 84, 224) double;
}
